---
title: Exquisite
---

<div class="welcome" id='card'>
  <h1 id='userContent'></h1>
  <h2>
    <em>Exquisite</em>
  </h2>
  <h3>
    Definition: extremely beautiful and, typically, delicate.
  </h3>
  <h3>
    Synonyms: lovely, elegant, magnificent, superb, wonderful
  </h3>

  <h3>
    🌷 We love you! Happy Mother's Day 🌷
  </h3>
</div><!-- .welcome -->
